.first-div {
      width: calc(100% / 3); 
    }
    
    .second-div {
      width: calc((100% / 3) * 2); 
    }
    
    .card-gradient2{
      background-image: linear-gradient(to bottom up, #f306f359, #a006fa)
    }
    .card-gradient1{
      background-image: linear-gradient(to bottom left,#f306f359, #a006fa)
    }
    .card-gradient3{
      background-image: linear-gradient(to bottom up,#a006fa,#f306f359 )
    }